<td style="vertical-align:middle; padding-right:4px; white-space:nowrap;"><b>Vis</b></td>
<td style="text-align:center; padding:0 4px; white-space:nowrap;">
  <table border="0" cellpadding="1" cellspacing="0">
    <tr><td style="border-bottom:1px solid black;">OD</td></tr>
    <tr><td>OS</td></tr>
  </table>
</td>
<td style="vertical-align:middle; padding:0 4px; white-space:nowrap;">=</td>
<td style="text-align:center; padding:0 4px; white-space:nowrap;">
  <table border="0" cellpadding="1" cellspacing="0">
    <tr><td style="border-bottom:1px solid black;">{{ vis_od }}</td></tr>
    <tr><td>{{ vis_os }}</td></tr>
  </table>
</td>
{{ status_section }}
{{ correction_section }}
<td style="width:28px;"></td>
