<style>
  .vision-block,
  .vision-block tr,
  .vision-block td,
  .vision-block table {
    page-break-inside: avoid;
    break-inside: avoid;
  }
</style>
<div style="font-family: Segoe UI, Arial, sans-serif; font-size: 9pt; line-height: 1.25;">
  <table border="0" cellpadding="0" cellspacing="0" style="width:100%; table-layout:fixed;">
    <tr>
      <td style="width:150px; vertical-align:top; padding-right:10px;">
        {{ left }}
      </td>
      <td style="vertical-align:top; padding-left:18px;">
        {{ right }}
      </td>
    </tr>
  </table>
</div>
